<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98803282489-c1ti7l7lk9epkbp4k7aviga5vhnvi336.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98803282489-c1ti7l7lk9epkbp4k7aviga5vhnvi336</string>
	<key>API_KEY</key>
	<string>AIzaSyAtd1Ct0vBGFe6a14lbVlSDFyUCL7jrg7o</string>
	<key>GCM_SENDER_ID</key>
	<string>98803282489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.norensikt.FindMyFriend</string>
	<key>PROJECT_ID</key>
	<string>find-my-friend-173ac</string>
	<key>STORAGE_BUCKET</key>
	<string>find-my-friend-173ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98803282489:ios:cbbfceb3602b1ec6</string>
	<key>DATABASE_URL</key>
	<string>https://find-my-friend-173ac.firebaseio.com</string>
</dict>
</plist>